<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola mundo</h1>

    <div id="app">
      {{texto}}
      <p>{{nombre}}</p>
      {{productos}}

            <hr>
            <input type="text" v-model="productoNuevo" @keyup.enter="agregarProducto">
            <button @click="agregarProducto">Agregar</button>

            <p>{{voltearTexto}}</p>

                    <ul>
                        <li v-for="producto in productos">
                            <input type="number" v-model.number="producto.cantidad">
                            {{producto.nombre}} - {{producto.cantidad}}
                            <button @click="producto.cantidad++">+</button>
                            <button @click="producto.cantidad--">-</button>
                            <span v-if="producto.cantidad===0"> - Sin stock</span>
                        </li>
                    </ul>

                    <h1>Total: {{sumarCantidad}} </h1>

    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>
</html>